@model Projet1_ASP.Models.File
@{
    ViewBag.Title = "Archiver";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
    ViewData["Type"] = ViewBag.Type;
}

<div class="container border mb-2 p-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @using (Html.BeginForm("Archiver", "Etudiant", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-group">
                    <label class="control-label col-md-2">Type</label>
                    <div class="col-md-8">
                        @Html.DropDownList("Type", ViewData["Type"] as SelectList, new { id = "type" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.sujet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sujet, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sujet, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <input type="file" name="Content2" class="form-control-file" required />
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-10 text-center">
                        <input type="submit" value="Confirmer" class="btn btn-primary" />
                    </div>
                </div>








            }
        </div>


    </div>
</div>
