
@{
    /**/

    ViewBag.Title = "archiver";
    Layout = "~/Views/Shared/_MonLayout.cshtml";


}


@Scripts.Render("~/bundles/jquery")


<!-- ======= Header ======= -->
@model Projet1_ASP.Models.File

<div class="container border mb-2 p-3 border">

    <div class="row border-bottom m-1">
        @Html.Partial("_GroupeNavBar")

    </div>

    <section id="etudiant" class="about">
        <div style="margin-left: auto;margin-right: auto">
            <div class="col-lg-6 d-flex flex-column justify-content-center about-content" style="margin-left: auto;margin-right: auto;background-image: url('Content/img/slide/slide-1.jpg');">
                <div style="color:red">
                    @ViewBag.fil
                    @ViewBag.accord
                </div>
                <br />
                @using (Html.BeginForm("archiver",
                            "Etudiant",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="exampleInputPassword1">CNE</label>
                        @Html.TextBoxFor(m => m.description, new { @class = "form-control", @placeholder = "Cne" })
                        @Html.ValidationMessageFor(x => x.description, "", new { @style = "color:red" })
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Nom</label>
                        @Html.TextBoxFor(m => m.sujet, new { @class = "form-control", @placeholder = "Nom" })
                        @Html.ValidationMessageFor(x => x.sujet, "", new { @style = "color:red" })
                    </div>

                    <br />
                    <input type="file" name="file" id="file" /><br><br>

                    <div align="center">
                    <button type="submit" name="seconnecter" value="etudiant" class="btn btn-primary">Déposer votre projet</button>
                    </div>
                }


            </div>
        </div>
    </section>

    </div>

