
@{
    ViewBag.Title = "inscription";
    Layout = "~/Views/Shared/_MonLayout.cshtml";


}


@Scripts.Render("~/bundles/jquery")


<!-- ======= Header ======= -->
@model Projet1_ASP.Models.Etudiant

<section id="etudiant" class="about">
    <div style="margin-left: auto;margin-right: auto">
        <div class="col-lg-6 d-flex flex-column justify-content-center about-content" style="margin-left: auto;margin-right: auto;background-image: url('Content/img/slide/slide-1.jpg');">
            @ViewBag.niv<br />
            @Html.ValidationSummary()
            @using (Html.BeginForm("inscription",
                        "Etudiant",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label for="exampleInputPassword1">CNE</label>
                    @Html.TextBoxFor(m => m.cne, new { @class = "form-control", @placeholder = "Cne" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Nom</label>
                    @Html.TextBoxFor(m => m.nom, new { @class = "form-control", @placeholder = "Nom" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">PRENOM</label>
                    @Html.TextBoxFor(m => m.prenom, new { @class = "form-control", @placeholder = "Entrer prenom" })
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">email</label>
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Entrer Email" })
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>



                <div class="form-group">
                    <label for="exampleInputPassword1">date de naissance</label>
                    @Html.TextBoxFor(m => m.date_naiss, new { @class = "form-control", @placeholder = "Entrer date naissance" })
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                </div>

                <br />
                <label for="exampleInputPassword1">FILIERE</label>
                @Html.DropDownListFor(m => m.id_fil, ViewBag.fil as SelectList, "selectionner une filiere", new { @class = "form-control" })

                <br />

                <label for="exampleInputPassword1">Cycle</label>
                @Html.DropDownListFor(m => m.id_cyc, ViewBag.cycle as SelectList, "selectionner un cycle", new { id = "s", @class = "form-control" })
                <br />
                <label for="exampleInputPassword1">Niveau</label>
                @Html.DropDownListFor(m => m.id_niv, Enumerable.Empty<SelectListItem>(), "selectionner un niveau", new { id = "c", @class = "form-control" })
                <br />
                <input type="file" name="file" id="file" /><br><br>

                <button type="submit" name="seconnecter" value="etudiant" class="btn btn-primary">Valider</button>
            }


        </div>
    </div>
</section>



<script>
    $a = 0;
    $(document).ready(function () {
        $("#s").on("change", function () {
            //var text = "lalala";
            $.get("/Etudiant/Js",
                {
                    h: $("#s").val()
                }, function (data) {
                    $("#c").empty();
                    $.each(data, function (index, ligne) {
                        $("#c").append("<option value=" + ligne.id_Niveau + ">" + ligne.nom_Niveau + "</option>")
                        $a = ligne.id_Niveau
                    });
                    /* $("#c").empty();
                      $("#c").append("<option>noura</option>")*/

                })
        });
    });

</script>