@model IEnumerable<Projet1_ASP.Models.GroupeMembre>
@{
    ViewBag.Title = "Création de Groupe";
    Layout = "~/Views/Shared/_MonLayout.cshtml";
}

<div class="container border mb-2 p-3 border">

    <div class="row border-bottom m-1">
        @Html.Partial("_GroupeNavBar")

    </div><br />

    <h2 align="center">Créer votre groupe</h2><br />
    <div class="container p-3 m-2">

        <div class="row">
            <div class="col-md-6">
                <h5 align="center">Etudiants de ce groupe</h5>
                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Etat</th>
                    </tr>

                    @foreach (var mm in Model)
                    {
                        <tr>
                            <td>@mm.Etudiant.nom</td>
                            <td>@mm.Etudiant.prenom</td>
                            <td>@mm.confirmed</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-6">

                <h5 align="center">Inviter des étudiants</h5>
                @Html.DropDownList("invitedEtudiant", ViewBag.e as SelectList, new { @class = "form-control" })
                <br />
                <div align="center">
                    <button class="btn btn-primary" id="add" name="x" value="ajouter">Inviter</button>
                </div>
            </div>

        </div><br /><br />
        <small>N.B: vous ne pouvez déposer un projet jusqu'à ce que tous les membres invités ont accepté leur demande d'invitation.</small><br /><br />
        <div align="center" style="border:double">
            @Html.ActionLink("Archiver un projet", "Archiver", "etudiant")
        </div>
    </div>


    <script>

        $("#add").click(function () {

            console.log($('#invitedEtudiant').val());
            $.post("/etudiant/AddToGroup", { cne: $('#invitedEtudiant').val() },
                function (data) {
                    switch (data) {
                        case 'full': alert("groupe plein"); break;
                        case 'deja': alert("Etdiant exist deja dans le groupe"); break;
                        case 'added': alert("Etudiant ajouter avec succes"); location.reload();break;
                        case 'autregroupe': alert("vous pouvez pas ajouter cette personne parcequ'elle a deja accepter d'entrer a un groupe");
                            location.reload();
                            break;
                    }

                }
            );

        });
    </script>

    </div>